@media (min-width: 980px) {
  .main_content {
    max-width: 1060px;
    grid-template-columns: auto 1fr 380px;
  }
}
@media (min-width: 1270px) {
  .main_content {
    max-width: 1270px;
  }
  .sidebar {
    align-items: flex-start;
    padding-right: 46px;
  }
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 500px) {
}
